################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/src/.vs/WpfApplication1
/src/MarvelFlow/.vs/MarvelFlow
/src/MarvelFlow/bin/Debug
/src/MarvelFlow/obj/Debug
